<a href="https://colab.research.google.com/github/RajuNaik29/Projects/blob/main/functions_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Running')
def random():
  return True
random()

Running

True

In [ ]:
print('Running')
def random():
  return True
random() # In this code the random function value is stored as true and will not be displayed.
print('Running done')

Running
Running done

Explanation for above code:
In your code, you've defined a function called `random()`, but you're not doing anything with its return value. When you call the `random()` function, it returns `True`, but you're not printing or storing this return value anywhere. Hence, it seems like nothing is being displayed, even though the function is indeed returning `True`.

If you want to see the return value of the `random()` function, you should either print it or store it in a variable:

Now, it will print `True` after "Running" and before "Running done".

In [ ]:
print('Running')
def random():
  return True
result = random()
print(result)
print('Running done')

Running
True
Running done

# Global and Local Variables

In programming, particularly in languages like Python, variables have scope, which defines where in the code they can be accessed or modified. Two common types of variables based on scope are local variables and global variables:

1. **Local Variables**:
   - Local variables are defined within a function or a block of code and can only be accessed from within that function or block.
   - They are created when the function or block is executed and destroyed when the function or block exits.
   - They cannot be accessed from outside of the function or block in which they are defined.
   - Example:
     ```python
     def my_function():
         x = 10  # This is a local variable
         print(x)  # This will print 10

     my_function()  # Calling the function
     # Attempting to print x outside the function will result in an error
     ```

2. **Global Variables**:
   - Global variables are defined outside of any function or block and can be accessed from anywhere in the code, including inside functions.
   - They are accessible throughout the entire program.
   - They are typically defined at the top level of a script or module.
   - Example:
     ```python
     y = 20  # This is a global variable

     def my_function():
         print(y)  # This will print 20

     my_function()  # Calling the function
     print(y)  # This will also print 20
     ```

In Python, if a variable is assigned a value within a function without being declared as `global`, it is considered a local variable within that function, even if there is a global variable with the same name. However, if you want to modify a global variable from within a function, you need to explicitly declare it as `global` within that function.

In [ ]:
#A global variable exists in the program for the entire time the program is executed.
#A local variable is created when the function is executed, and once the execution is finished, the variable is destroyed. It can be accessed throughout the program by all the functions present in the program.
a = 10 #This is global variable
def calculator(number): #number is local
  print(number * 10)
calculator(number = 10)
print(number)
print(a)

100

NameError: name 'number' is not defined

In [ ]:
a = 10 # global
def calculator(number):# number is local
    a=20# a is local
    return a
a = calculator(a)
print(a)

20

In [ ]:
a = 10 # global
def calculator(number):# number is local
    a=20# a is local
    print(a)

calculator(a)
print(a)

20
10

In [ ]:
a = 10 # global
def calculator(number):# number is local
    print('number =', number)

calculator(a)
print('a outside after function call', a)

number = 10
a outside after function call 10

In [ ]:
a = 10 # global
def calculator(number):# number is local
    print('number = ', number)
    print('a inside after function call', a)

calculator(a)
print('a outside after function call', a)

number =  10
a inside after function call 10
a outside after function call 10

In [ ]:
a = 10 # global
def calculator(number):# number is local
    print('number', number)
    a = 25
    print('a inside after function call', a)



calculator(a)
print('a outside after function call', a)

number 10
a inside after function call 25
a outside after function call 10

In [ ]:
a = 10 # global
def calculator(number):# number is local
    print('number = ', number)
    newA = a+10
    print('a inside after function call',newA)



calculator(a)
print('a outside after function call', a)

number =  10
a inside after function call 20
a outside after function call 10

In [ ]:
a = 10 # global
def calculator(number):# number is local
    print('number', number)
    a = 20
    print('a inside function', a)

calculator(a)
print('a outside after function call', a)

number 10
a inside function 20
a outside after function call 10

In [ ]:
a = 10 # global
def calculator(number):# number is local
    print('number = ', number)
    global a #Declares that the variable a inside the function is the global variable a.
    a = 20
    print('a inside function', a)

calculator(a)
print('a outside after function call', a) #Prints the value of the global variable a after the function call.

number =  10
a inside function 20
a outside after function call 20

In [ ]:
a= 10
def calculation(number):
    number = global a
    print(a)
calculation(a)

SyntaxError: ignored

In [ ]:
a= 10
def calculation(number):
    number =  a
    print(a,number)
calculation(a)

10 10

In [ ]:
x = 10
def function():
    x = 5
    print(x)
function()
print(x)

5
10

In [ ]:
x = 10
def function():
    global x
    x = 5
    print(x)
function()
print(x)

5
5

In [ ]:
b = 10
def function():
  global b
  b = 29
  print(b)
function()
print(b)

29
29

In [ ]:
a = 10
def calculator(number):
    print(number * 10)

calculator(a)
print(a)

100
10

In [ ]:
print('Running')
a = 57
def sample_function(a):
  if a <= 10:
    return 'small'
  elif a > 10:
    return 'big'
sample_function(a)
print('Done Running')

Running
Done Running

In [ ]:
def greet_the_family(mother, father, brother):
    """
        this is the main step
        you are meeting the family üò®
        you should know the names of the family members üí°

            1 mother name
            2 father name
            3 brother name
    """
    print("Touch the üêæ Hello", mother)
    print("Touch the üëü Hello", father)
    print("üôå", brother)

In [ ]:
greet_the_family('Shakira', 'Tom Cruise', 'Salman Bhai')

Touch the üêæ Hello Shakira
Touch the üëü Hello Tom Cruise
üôå Salman Bhai

In [ ]:
# positional arguments
greet_the_family('Salman Bhai', 'Tom Cruise', 'Shakira')

Touch the üêæ Hello Salman Bhai
Touch the üëü Hello Tom Cruise
üôå Shakira

In [ ]:
# keyword arguments
print("This", 'is', "print", sep="--", end="\n\n")
print("This", 'is 2nd', "print", sep="--")

This--is--print

This--is 2nd--print

In [ ]:
greet_the_family(mother = 'Shakira', father ='Tom Cruise', brother='Salman Bhai')

Touch the üêæ Hello Shakira
Touch the üëü Hello Tom Cruise
üôå Salman Bhai

In [ ]:
greet_the_family(brother='Salman Bhai', father ='Tom Cruise', mother = 'Shakira')

Touch the üêæ Hello Shakira
Touch the üëü Hello Tom Cruise
üôå Salman Bhai

In [ ]:
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)

In [ ]:
printer(1,2,3,4) #positional

a = 1
b = 2
c = 3
d = 4

In [ ]:
printer(a=1,d=2,c=3,b=4) #keyword

a = 1
b = 4
c = 3
d = 2

In [ ]:
printer(c=3,d=4,a=1,b=2) #keyword

a = 1
b = 2
c = 3
d = 4

In [ ]:
printer(c=3,d=4, c=1,b=2) # keyword

SyntaxError: ignored

In [ ]:
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
printer(1,2,d=4,c=3)

a = 1
b = 2
c = 3
d = 4

In [ ]:
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
printer(2,1,d=4,c=3)

a = 2
b = 1
c = 3
d = 4

In [ ]:
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
printer(d=4,1,2,c=3)

SyntaxError: ignored

In [ ]:
def printer(a,b,c,d):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
printer( 1,b=2, 3, 4 )
#positional arguments cannot come after keyword arguments. First positional arguments have to come later the keyword arguments.

SyntaxError: ignored

In [ ]:
def simple_interest(p,t,r):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5,2))

19.0

In [ ]:
def simple_interest(p,r,t):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5))

TypeError: ignored

In [ ]:
def simple_interest(p,r,t=5):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5))
print(simple_interest(100,9.5,2))

47.5
19.0

In [ ]:
def simple_interest(p,t=5,r):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5))
print(simple_interest(100,9.5,2))

# The default value t = 5 have to come absoluetly at the end.

SyntaxError: ignored

In [ ]:
def simple_interest(p,r,t=5):
    """
    p: Principal amount
    r: rate of interest
    t: time
    """
    interest = p*r*t/100
    return interest
print(simple_interest(100,9.5))
print(simple_interest(100,9.5,2))

47.5
19.0

In [ ]:
print(
'''
Question 1 -
Create a date printing function (print_date) -
Should take 4 arguments -> day, month, year and style

Styling Logic -
style -> 0 -> d/m/y
style -> 1 -> m/d/y
style -> any other value -> Invalid Style

default style is 0.
'''

)

Question 1 -
Create a date printing function (print_date) -
Should take 4 arguments -> day, month, year and style

Styling Logic -
style -> 0 -> d/m/y
style -> 1 -> m/d/y
style -> any other value -> Invalid Style

default style is 0.

In [ ]:
def print_date(day,month,year,style):
  if style == 0:
    print(day,month,year, sep = '/')
  elif style == 1:
    print(month,day,year, sep = '/')
  else:
    print('invalid style')

In [ ]:
print_date(29,6,1999,0)

29/6/1999

In [ ]:
print_date(29,6,1999,1)

6/29/1999

In [ ]:
def multiply(num1=3, num2):
    return num1 * num2

print(multiply(2, 4))

SyntaxError: ignored

In [ ]:
def multiply(num2,num1=3):
    return num1 * num2

print(multiply(2, 4))

8

In [ ]:
age = 25
if age>=18:
    print('vote')
else:
    print('you cannot vote')

vote

In [ ]:
age = 25
 #  output if condition is True if  else output if condition is False
print('Vote' if age>=18 else 'you cannot vote')

Vote

In [ ]:
age = 2
print('Vote' if age >= 18 else 'You cannot Vote')

You cannot Vote

In [ ]:
#Even or odd
num = 250
print('Even' if num%2 == 0 else 'Odd')

Even

In [ ]:
num = 1999
print('Even' if num %2 == 0 else 'Odd')

Odd

In [ ]:
num = 10
if num>0:
    print('+ive')
elif num<0:
    print('-ive')
else:
    print('zero')

+ive

In [ ]:
num = 10
if num>0:
    print('+ive')
else:
    if num<0:
        print('-ive')
    else:
        print('zero')

+ive

## Lambda Functions (Syntax = lambda arguments : expression)
1. A lambda function is a small anonymous function.

2. A lambda function can take any number of arguments, but can only have one expression.

https://www.w3schools.com/python/python_lambda.asp

In [ ]:
#Example
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
# lambda functions
def squarer (num):
    return num**2
print(type(squarer))
print(squarer(5))

<class 'function'>
25

In [ ]:
def adder (a,b):
    return a+b
print(type(adder))
print(adder(5,2))

<class 'function'>
7

In [ ]:
######### lambda input:output
adder = lambda a,b:a+b
print(type(adder))
print(adder(5,2))

<class 'function'>
7

In [ ]:
def pi ():
    return 3.14159265359
print(type(pi))
print(pi())

<class 'function'>
3.14159265359

In [ ]:
######### lambda input:output
pi = lambda :3.14159265359
print(type(pi))
print(pi())
print(pi())
print(pi())
print(pi())
print(pi())

<class 'function'>
3.14159265359
3.14159265359
3.14159265359
3.14159265359
3.14159265359

In [ ]:
squarer = lambda num : num**2
print(squarer(2))

4

In [ ]:
subtract = lambda a,b,c : a-b-c
print(subtract(100,30,24))

46

In [ ]:
# anonymous functions
(lambda num:num**2)(5)

25

In [ ]:
(lambda a,b : a+b)(4,3)

7

In [ ]:
def function(var):
    print(var)

function(3)

var = 5
function(var)

3
5

In [ ]:
def function(var=5):
    var = var + 1
    print(var)

function()
function(10)

6
11

# Assignment Questions

In [ ]:
#Q1. BMI Calculator
def bmi_calculator(x,y):
  height = x/100
  BMI = y/(height * height)
  BMI = round(BMI,1)
  if BMI < 18.5:
    print('Underweight')
  elif BMI >= 18.5 and BMI < 24.9:
    print('Normal')
  elif BMI >= 24.9 and BMI <= 29.9:
    print('Overweight')
  else:
    print('obese')
bmi_calculator(x = 101,y = 29)

Overweight

In [ ]:
#Q2. Find The Floor
import math
def solve(A):
  result = math.floor(A/200)
  return result
solve(2113)

10

In [ ]:
solve(-2113)

-11

In [ ]:
#Q3. Time to end Corona
def solve(A, B, C):
  corona_cases = B+C
  remaining_cases = A - corona_cases
  return remaining_cases
solve(5,4,1)

0

In [ ]:
def solve(A, B, C):
  numberofdays = 0
  while C > 0:
    C = (B+C)-A
    numberofdays += 1
  return numberofdays
solve(5,4,1)

1

In [ ]:
solve(4,3,2)

2

In [ ]:
def solve(A):
  val = A/200
  a = int(val)
  if val >= 0:
    if val < a+0.5:
      return a
    else:
      return a+1
  else:
    if val > a-0.5:
      return a
    else:
      return a-1
solve(2113)

11